.container {
  padding: 0 !important;
  width: 100%;
 }
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

header {
  overflow: hidden;
  background-color: #111 ;
  padding: 20px 10px;
  padding: .5em 0;
}

.ui-bar {
  border: 1px solid #333;
  background: #111;
  color: white;
  font-weight: bold;
  text-shadow: 0 -1px 1px black;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#111));
  background-image: -webkit-linear-gradient(#3c3c3c,#111);
  background-image: -moz-linear-gradient(#3c3c3c,#111);
  background-image: -ms-linear-gradient(#3c3c3c,#111);
  background-image: -o-linear-gradient(#3c3c3c,#111);
  background-image: linear-gradient(#3c3c3c,#111);
}

.logo {
  display: block;
  width: 90px;
  height: 22px;
}


#back-button {
  background-color: #0B4974;
  display: flex;
  margin-top: 10px;
}
#help-button {
  background-color: #0B4974;
  display: flex;
}

#geolocate-button > a {
  background-color: #fff;
}
#geolocate-button > a > i {
  color: #666666
}
#help-button > i  {
  color: #fff;
}

.infoWindow {
  width:150px;
  text-align: left;;
}
.modal-header {
  font-size: 16px;
  color: #0B4974;
  font-weight: 400;
}
.modal-content {
  font-size: 13px;
  font-weight: 400;
}

.modal-content > .title {
  color: #0B4974;
  font-size: 15px;
  font-style: italic;
 }

#close-button {
  float: right;
}
.infoWindow a {
  font-size: 11px;
  color: #4285F4;
}

.no-fly-icon {
  background-image: url("../assets/Graphics/%22no%20fly%22%20zones.png");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
 }

.main-content #myMap {
  width: 100%;
  height: 600px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#search-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#search-input:focus {
    border-color: #4d90fe;
}

.help-overlay {
  visibility:hidden;
}
.help-content {
  visibility:hidden;
}
.help-overlay.active{
  visibility:visible;
}
.help-content.active {
  visibility:visible;
}

.modal-footer a:after {
  display: inline-block;
  content: "";
  width: 3px;
  height: 5px;
  background: solid url('../static/assets/Icons/link%20launch%20icon%402x.png') no-repeat;
}

.iconadd{
  display:inline-block ;
  margin-top: 10px;
}
.iconremove{
  display:none !important;
  margin-top: 10px;
}

li.active .collapsible-header .material-icons.iconadd{
  display: none;
}

li.active .collapsible-header .material-icons.iconremove{
  display: inline-block !important;
}

.fixed-action-btn {
  padding-right: 14px;
 }

