<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Map</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
    <script src="{{url_for('static', filename='js/mapFunctions.js')}}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyDh0eB6mkhUYRgfAwwkKuvSbHwpl9HvlIs&callback=initMap">
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
        $('select').formSelect();
        $('.modal').modal();
        $('.collapsible').collapsible();
      });
    </script>
  </head>
  <body>
    <header class="ui-bar">
      <a href="/map">
          <img class="logo" src="static/assets/canada-logo.png"/>
      </a>
    </header>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">

      <div class="main-content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
